button {
  cursor: pointer;
}

select {
  cursor: pointer;
}

.slider {
  margin: auto;
  width: 700px;
  height: 700px;
  position: relative;
  overflow: hidden;
}

.item_box {
  display: flex;
  position: absolute;
}

.item_box div {
  min-width: 700px;
  min-height: 700px;
  text-align: center;
  font-size: 60px;
}

.current_item {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 50%;
}

.current_item button:first-child {
  margin-left: -50%;
}

.current_item button {
  position: relative;
  width: 30px;
  height: 30px;
  top: 50%;
  left: 0;
}

.arr_left {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 0;
  margin-top: -25px;
  font-size: 30px;
}

.arr_right {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -25px;
  font-size: 30px;
}

.first_slide {
  position: absolute;
  bottom: 0;
  left: 0;
}

.last_slide {
  position: absolute;
  bottom: 0;
  right: 0;
}

.add_slide_number button:first-child {
  margin-left: -50%;
}

.add_slide_number {
  position: absolute;
  bottom: 5%;
  left: 50%;
  z-index: 1;
}

.add_slide {
  position: absolute;
  bottom: 0;
  right: 10%;
}
