.main {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    margin-top: 200px;
    padding: 10px;
    background: rgb(100, 122, 122);
    border-radius: 20px;
    position: relative;
}

.todo_list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgb(47, 49, 49);
    border-radius: 20px;
    margin: 15px;
    color: rgb(255, 255, 255);
    position: relative;
    overflow: hidden;
}

.todo_list_head {
    font-size: 28px;
}

.todo_list_desc {
    font-size: 20px;
}

h1 {
    position: relative;
}

.style_done {
    content: "";
    position: absolute;
    width: 0%;
    top: 47%;
    left: 0;
    background-color: rgb(255, 255, 255);
    height: 3px;
    transition: all 0.5s ease;
    z-index: 2;
}

.width {
    width: 100%;
}

.button_delete {
    position: relative;
    z-index: 5;
}

.checkbox_done {
    position: relative;
    z-index: 5;
}